{% extends 'base.html.twig' %}

{% block title %}Symfony 7 boilerplate{% endblock %}

{% block body %}

    <h1>Welcome to Symfony 7 boilerplate</h1>

    <p>
        This is a simple Symfony 7 boilerplate. It is a starting point for your Symfony 7 projects.
    </p>

    <table>
        <tr>
            <th>Feature</th>
            <th>URL</th>
        </tr>
        <tr>
            <td>Home</td>
            <td><a href="{{ path('app_home') }}">/</a></td>
        </tr>
        <tr>
            <td>Login</td>
            <td><a href="{{ path('app_login') }}">/login</a></td>
        </tr>
        <tr>
            <td>Signup</td>
            <td><a href="{{ path('app_signup') }}">/signup</a></td>
        </tr>
        <tr>
            <td>Logout</td>
            <td><a href="{{ path('app_logout') }}">/logout</a></td>
        </tr>
        <tr>
            <td>Settings</td>
            <td><a href="{{ path('app_settings') }}">/settings</a></td>
        </tr>
        <tr>
            <td>Users</td>
            <td><a href="{{ path('app_user_index') }}">/user</a></td>
        </tr>
        <tr>
            <td>New user</td>
            <td><a href="{{ path('app_user_new') }}">/user/add</a></td>
        </tr>
    </table>
{% endblock %}
